
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
li {
    margin: 25px 55px 15px 55px;
}    

body {
    font-family: 'Comic Sans MS', sans-serif;
}

nav  ul li a {
    text-decoration: none;
    color: #00080;
}